# git ignore file
dmx_app/.vs/dmx_app/v14/.atsuo
dmx_app/dmx_app/Debug/dmx_app.eep
dmx_app/dmx_app/Debug/dmx_app.elf
dmx_app/dmx_app/Debug/dmx_app.hex
dmx_app/dmx_app/Debug/dmx_app.lss
dmx_app/dmx_app/Debug/dmx_app.map
dmx_app/dmx_app/Debug/dmx_app.srec
dmx_app/dmx_app/Debug/main.d
dmx_app/dmx_app/Debug/main.o
atmega_library/.vs/atmega_library/v14/.atsuo
atmega_library/dmx/.vs/dmx/v14/.atsuo
atmega_library/dmx/dmx/Debug/dmx_library.d
atmega_library/dmx/dmx/Debug/dmx_library.o
atmega_library/dmx/dmx/Debug/libdmx_debug.a
atmega_library/spi/.vs/spi/v14/.atsuo
atmega_library/spi/spi/Debug/libspi_debug.a
atmega_library/spi/spi/Debug/spi_library.d
atmega_library/spi/spi/Debug/spi_library.o
atmega_library/uart/.vs/uart/v14/.atsuo
atmega_library/uart/uart/Debug/libuart_debug.a
atmega_library/uart/uart/Debug/uart_library.d
atmega_library/uart/uart/Debug/uart_library.o
dmx_app/dmx_app/Release/dmx_app.map
dmx_app/dmx_app/Release/main.d
dmx_app/dmx_app/Release/main.o
atmega_library/dmx/dmx/Release/dmx_library.d
atmega_library/dmx/dmx/Release/dmx_library.o
atmega_library/dmx/dmx/Release/libdmx_release.a
atmega_library/spi/spi/Release/libspi_release.a
atmega_library/spi/spi/Release/spi_library.d
atmega_library/spi/spi/Release/spi_library.o
atmega_library/uart/uart/Release/libuart_release.a
atmega_library/uart/uart/Release/uart_library.d
atmega_library/uart/uart/Release/uart_library.o